<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823659825483-hk4gqg8c8lmg1ivgrai3e3sr2vqdpgid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823659825483-hk4gqg8c8lmg1ivgrai3e3sr2vqdpgid</string>
	<key>API_KEY</key>
	<string>AIzaSyCWnRh6Fui0GtuXzHUQjSu5G_bwMIbWPE8</string>
	<key>GCM_SENDER_ID</key>
	<string>823659825483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.submissionDitonton</string>
	<key>PROJECT_ID</key>
	<string>submissionditonton</string>
	<key>STORAGE_BUCKET</key>
	<string>submissionditonton.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823659825483:ios:2236f698558cf31356c0ce</string>
</dict>
</plist>